{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Restablecer contraseña</h1>
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Formulario reestablecimiento de contraseña</div>
        <div class="card-body text-primary">
          
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                       {{ form|crispy}} 
                    
                    

                <div class="d-flex justify-content-end">
                 <button class="btn btn-primary btn-sm" type="submit">Reestablecer contraseña</button>
                 <button class="btn btn-primary btn-sm ml-2 " aria-hidden="true" type="button" onclick="history.back()">Salir</button>
            </div>
                </div>
            </form>
           
            {{mensaje}}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}