{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Ajuste de Stock{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ajuste de stock</h1>
    <div class="card shadow mb-4"></div>
        <div class="card-body">
            <form action="" id="form-ajuste" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        {{ form|crispy}}
                        <!-- Nombre Producto
                        <input type="text" name="nombreProducto" id="nombreProducto" class="form-control form-control-sm">
                        
                    </div>
                </div>
                <br>
                <div class="row">
                    

                    <div class="col-12 col-md-6 offset-md-3">
                        Stock Actual
                        <input type="text" name="" id="stock" class="form-control form-control-sm" disabled>
                        
                      </div>
                </div>
                <br>
                <div class="row">
                    
                    <div class="col-12 col-md-6 offset-md-3">
                        {{ form.cantidad|as_crispy_field }}
                    
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        {{ form.motivo|as_crispy_field }}
                     
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        {{ form.detalle|as_crispy_field }}
                     
                    </div> -->

                </div>
               
                <div class="col-12 col-md-6 offset-md-3 d-flex justify-content-end mt-2">
                    <button class="btn btn-primary btn-sm" type="submit">Confirmar</button> 
                    <button class="btn btn-primary btn-sm ml-2 " aria-hidden="true" type="button" onclick="history.back()">Salir</button>
                    <!-- <button onclick="cargarTabla();" class="btn btn-primary btn-sm ml-2" type="button">Añadir</button> -->
                
                
            </div> 
        </div>
                </div>
            {{mensaje}}
            </form>
            <!-- <div class="row">
                <div class="col-12 col-md-6 offset-md-3 d-flex justify-content-end mt-2">
                   
                
                
            </div> -->
        </div>
        </div>
      
    
<!-- 
    <div class="row">
        <div class="col-md-12 pt-3">
            <div class="table-responsive" style="height: 160px;">
                <table class="table table-hover table-bordered table-sm table-striped text-white" id="tablaDetalle">
                    <thead class="bg-primary">
                        
                        <th>Producto</th>
                        <th>Stock Actual</th>
                        <th>Cantidad</th>
                        <th>Diferencia</th>
                        <th>Accion</th>
                    </thead>
                    <tbody style="overflow-y: scroll;">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
    
  </div>

{{mensaje}}
{% endblock %}



{% block js %}






<



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
{% endblock %}