{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Alta Venta{% endblock %}
<!-- <style type="text/css" >
    .swal2-popup {
  max-height: 300px !important;
  max-width: 300px !important;
}
</style> -->
{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 text-gray-800">Nueva Venta</h1>
    
    <div class="row mt-3">
        
    <div class="col-md-5">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Seleccion de Productos</div>
        <div class="card-body text-primary">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        Nombre
                        <input type="text" name="nombreProducto" id="nombreProducto" class="form-control form-control-sm">
                        
                    </div>
                   
                    <div class="col-md-3 ">
                        Código
                        <input type="text" name="" id="codigo" class="form-control form-control-sm" disabled>
                        
                      </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 ">
                        Precio Venta
                        <input type="text" name="" id="precio" class="form-control form-control-sm">
                       
                    </div>
                    <div class="col-md-4 ">
                        Descuento(%)
                        <input type="text" name="" id="descuento" class="form-control form-control-sm" disabled>
                        
                      </div>
                    <div class="col-md-4 ">
                        Stock Actual
                        <input type="text" name="" id="stock" class="form-control form-control-sm" disabled>
                        
                      </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 ">
                        Cantidad
                      <input type="text" name="cantidad" id="cantidad" class="form-control form-control-sm">
                    
                    </div>
                    <!-- <div id="alertCantidad" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>La cantidad seleccionada es mayor al stock del producto</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div> -->
                </div>
               
                <div class="d-flex justify-content-end">
                <button onclick="cargarTabla();" class="btn btn-primary btn-sm" type="button">Añadir</button>
                        
            </div>
            {{mensaje}}
            </form>
          
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card border-primary mb-3" >
        <div class="card-header bg-primary text-white">Total de la Venta</div>
        <div class="card-body text-primary">
            <div class="row">
                <div class="col-md-12 ">
                    <!-- Total -->
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="totalPrepend">Total</span>
                      </div>
                    <input style="font-size: 15px;" type="text" name="total" id="total" value="0.00" aria-describedby="totalPrepend" class="form-control bg-info text-center font-weight-bold text-white"> 
                </div>
                    
                
                </div>
            </div>
        
            <div class="row ">
                <div class="col-md-6 mt-1">
                    
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ivaPrepend">Iva</span>
                          </div>
                        <input style="font-size: 15px;" type="text" name="iva" id="iva" value="0.00" aria-describedby="ivaPrepend"  class="form-control bg-info font-weight-bold text-center text-white" > 
                      
                    </div>
                  
                  
                  </div>
            

            
                <div class="col-md-6 mt-1">
                    
                     
                      
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="subPrepend">Sub total</span>
                          </div>
                 <input style="font-size: 15px;" type="text" name="subTotal" id="subTotal" value="0.00" aria-describedby="subPrepend" class="form-control bg-info font-weight-bold text-center text-white" > 
                </div>
                    </div>
            </div>
            <form id="form-venta" enctype="multipart/form-data">
                {% csrf_token %}
                
              
                <div class="row mt-1">
                    <div class=" col-md-4 ">
                
                        {{ formVenta.fecha|as_crispy_field }}
                        <!-- <input type="data" name="fecha" id="fecha"  class="form-control  font-weight-bold text-center " > -->
                      </div>

                      <div class="col-md-4">
                        
                        {{ formVenta.comprobante|as_crispy_field }}
                        
                        <!-- <input type="data" name="comprobante" id="comprobante"  class="form-control  font-weight-bold text-center " > -->
                        <!-- <div class="was-validated">
                            Numero de comprabante exiatente.
                          </div>  -->
                    </div>

                      <div class="col-md-4 ">
                    
                      {{ formVenta.tipoComprobante|as_crispy_field }}
                      <!-- <input type="data" name="comprobante" id="comprobante"  class="form-control  font-weight-bold text-center " > -->
                      
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 mt-2">
                        Razon Social
                        <input type="text" name="nombreCliente" id="nombreCliente" class="form-control form-control-sm">
                      
                      </div>
                       
                      <div class="col-md-4 ">
                        {{ formVenta.cuit|as_crispy_field }}
                      
                      </div>
                      
                      <div class="col-md-4 mt-2 ">
                        Condicion
                        <input type="text" name="condicion" id="condicion" class="form-control form-control-sm" disabled>
                      
                      </div>
                </div>
                <div class="d-flex justify-content-end">
               
                    <button class="btn btn-primary btn-sm mr-2" name="confirmarynuevo" type="submit">Confirmar y Nuevo</button>
                    <button class="btn btn-primary btn-sm" name="confirmar" type="submit">Confirmar Venta</button>
              
               </div> 
              
            </form>
          
        </div>
      </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-3">
            <div class="table-responsive" style="height: 160px;">
                <table class="table table-hover table-bordered table-sm table-striped text-white" id="tablaAltaVenta">
                    <thead class="bg-primary">
                        
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>cantidad</th>
                        <th>P.Unitario</th>
                        <th>Desc.(%)</th>
                        <th>Iva</th>
                        <th>sub total neto</th>
                        <th>sub total</th>
                        <th>Accion</th>
                    </thead>
                    <tbody style="overflow-y: scroll;">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
  </div>

{{mensaje}}
{% endblock %}



{% block js %}


<script>
    
$(function() {
    var p = 0;
    $("#nombreProducto").autocomplete({
        
        source:  "{% url 'productoVentaAutocomplete' %}",
        
        select: function(event, ui){
            p = ui.item.n;
            if (ui.item.n == 1){
               
                window.location = "{% url 'altaProducto' %}";
                $("#nombreProducto").val('');
                event.preventDefault();
            }
            //else{
                
        //         if (ui.item.vencimiento > 365){
        //             Swal.fire({
        //     "title": "Error",
        //     "text": "El producto se encuentra vencido",
        //     "icon":"error",
            
        // })
        // .then(function(result){
        //     if(result.isConfirmed){
        //         $("#nombreProducto").val("");
        //     }
        //     })
        
        
                else{
                    $("#stock").val(ui.item.stock); 
                $("#codigo").val(ui.item.codigo);
                $("#precio").val(ui.item.precio);
                $("#descuento").val(ui.item.descuento);
                $("#nombreProducto").val(ui.item.value);
                $("#cantidad").val(1); 
                
                idProducto = ui.item.id         
                }
                
        //     }
            
            
}
}).data('ui-autocomplete')._renderItem = function(ul, item) {
        
        
                return $("<li>").append(item.label).appendTo(ul);
                
                
            };
  
    
    });
  
 
</script>

<script>
    // var arr = [];
    // var objProducto = {}
    var i = 0;
    function cargarTabla(){
        
        

        
        cantidad = $('#cantidad').val();
        nombre = $('#nombreProducto').val();
        precio = $('#precio').val();
        codigo = $('#codigo').val();
        stock = $('#stock').val();
        descuento = $('#descuento').val();

        

        if (parseInt(stock) <= 0) {
            Swal.fire({
                title:'Error',
                text: 'No hay stock del producto seleccionado',
                icon: 'error'
  
            })
            $('#stock').val("");
            $('#cantidad').val("");
            $('#nombreProducto').val("");
            $('#precio').val("");
            $('#descuento').val("");
            $('#codigo').val("");

        }else if (cantidad > parseInt(stock) ){
            
            Swal.fire({
                title:'Error',
                text: 'La cantidad seleccionada es mayor al stock del producto',
                icon: 'error'
  
            })
           
            $('#cantidad').val("");
            
        
           
        }else{

        if (descuento == ""){
            total = cantidad * precio;
        neto = total / 1.21;
        iva = neto.toFixed(2) * 0.21;
        }else{
        procentaje = descuento / 100;
        total = precio - ((cantidad * precio) * procentaje);
        neto = total / 1.21;
        iva = neto.toFixed(2) * 0.21;
        }
        
        
        i += 1;

        fila = '<tr id=fila' + i +' class="text-dark"><td data-producto =' + idProducto +' style="text-align: right;">' + codigo + '</td><td>' + nombre + 
                '<td>' + cantidad +'</td>'+
                '<td style="text-align: right;">' + precio + '</td>'+
                '<td style="text-align: right;">' + descuento + '</td>'+
                '<td>' + iva.toFixed(2) + '</td><td>' + neto.toFixed(2) + '</td>'+'<td>' + total + '</td>'+
                '<td ><div class="row justify-content-center"><button  class="btn btn-danger " style="padding:1px;" type="button"  id="btn_del'+i+'" onclick="eliminarFC('+i+', '+total+', '+neto+', '+iva+', )" ><i class="fas fa-times-circle"></i></button></div></td>'+
                '</tr>';
             
                $('#tablaAltaVenta').append(fila);
                
    //             objProducto = {
    //                'id_producto': idProducto,
    //                'cantidad': cantidad
    //    }; 

    //            arr.push(objProducto);
                suma(neto, iva, total);       
                $('#stock').val("");
            $('#cantidad').val("");
            $('#nombreProducto').val("");
            $('#precio').val("");
            $('#codigo').val("");
        }
    }
//  var objProducto = {}

         function cargarDetalleCompra(){
           
//             let filaTablaAC = $('#tablaAltaVenta tr').length;
               
//                for (f = 1; f <= filaTablaAC; f++) {

//                 var cantidadTabla = document.getElementById('tablaAltaVenta').rows[f].cells[2].innerText;            
//                 var idp = $('#tablaAltaVenta tr:eq('+f+')').find("td:first-child").data('producto');   
                
                
              
//                 objProducto = {
//                     'id_producto': idp,
//                     'cantidad': cantidadTabla
//                 };
               
            
                //var obj = JSON.stringify(objProducto);
               
                var tipoComprobante = $('#tipoComprobante option:selected').text();
                var comprobante = $('#comprobante').val();
                var fecha = $('#fecha').val();
                var cuit = $('#cuit').val();
                var iva = $('#iva').val();
                var total = $('#total').val();
                var subTotal = $('#subTotal').val();
                
                $.ajax({
                  type: "post",
                   url: "{% url 'cargarCompra' %}",
                  data: {tipoComprobante: '' + tipoComprobante + '',
                         comprobante: '' + comprobante + '',
                         iva: iva,
                         fecha:  '' + fecha + '',
                         cuit: '' + cuit + '',
                         total: total,
                         subTotal: subTotal
                          },
                success: function(result) {
                          alert('Data Has been saved')
     }
      
              
    
   });
              
//}         
      
   }
</script>

<script>
    
</script>
<!-- Page level custom scripts -->
<script>
    var totalNeto = 0;
        var totaliva = 0;
        var totalFinal = 0;
</script>
<script>
    function eliminarFC(id, total, neto, iva){
    
        //arr.pop();

        totalNeto = totalNeto - neto;
        totaliva = totaliva - iva;
        totalFinal = totalFinal - total;
        
     
       
        document.getElementById("total").value = totalFinal.toFixed(2);
        document.getElementById("iva").value = totaliva.toFixed(2);
        document.getElementById("subTotal").value = totalNeto.toFixed(2);

        $('#fila' + id).remove();
        
    }
</script>

<script>
    function suma(neto, iva, total){
        
        
        
        totalNeto = totalNeto + neto;
        totaliva = totaliva + iva;
        totalFinal = total + totalFinal;
        
     
       
        document.getElementById("total").value = totalFinal.toFixed(2);
        document.getElementById("iva").value = totaliva.toFixed(2);
        document.getElementById("subTotal").value = totalNeto.toFixed(2);
    }
</script>

<script>

$(function() {
    let condicion;

    $("#nombreCliente").autocomplete({
        source:  "{% url 'clienteAutocomplete' %}",
        select: function(event, ui){
            if (ui.item.n == 1){
               
               window.location =  "{% url 'altaClientes' %}";
               $("#nombreCliente").val('');
               event.preventDefault();
            }else{
                $("#cuit").val(ui.item.cuit);

                if (ui.item.condicion == 0){
                    condicion = "Consumidor Final";
                }else{
                    condicion = "Responsable Inscripto";
                }
                    $("#condicion").val(condicion); 
            }
            
            
        
}
}).data('ui-autocomplete')._renderItem = function(ul, item) {
        
        
        return $("<li>").append(item.label).appendTo(ul);
        
        
    };

  
    
    });

</script>



<script>

tipo = 0
     document.getElementsByName("confirmar")[0].addEventListener("click", function(event) {
    tipo = 1
      
});

document.getElementsByName("confirmarynuevo")[0].addEventListener("click", function(event) {
    tipo = 2
      
});
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#form-venta").submit(function (e) {
        filas = document.getElementById('tablaAltaVenta').rows.length
      
      if (filas > 1){
        // preventing from page reload and default actions
        e.preventDefault();
        var serializedData = $(this).serialize();
        Swal.fire({
            "title": "Confirma la venta?",
            "text": "Total de la venta: " + "$" + totalFinal.toFixed(2),
            "icon":"question",
            "showCancelButton": true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, confirmar",
        })
        .then(function(result){
            if(result.isConfirmed){
               
                // serialize the data for sending the form data.
        
        // carga la compra realizada
        $.ajax({
            type: 'POST',
            url: "{% url 'cargarVenta' %}",
            data: serializedData,
            success: function (response) {

                let filaTablaAC = $('#tablaAltaVenta tr').length;
               
               for (f = 1; f <= filaTablaAC; f++) {

                var cantidadTabla = document.getElementById('tablaAltaVenta').rows[f].cells[2].innerText;            
                var idp = $('#tablaAltaVenta tr:eq('+f+')').find("td:first-child").data('producto');   
                //var total = document.getElementById('tablaAltaCompra').rows[f].cells[6].innerText; 
               
            // carga detalle de la compra
                $.ajax({
            type: 'get',
            url: "{% url 'cargarDetalleVenta' %}",
            data: {'id_producto': idp,
                   'cantidad': cantidadTabla
        },
            success: function (response) {
                if (tipo == 1){
                    window.location = "{% url 'ventas' %}";
                }else{
                    window.location = "{% url 'altaVenta' %}";
                }
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    }
    
   
          
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
            }

        })

    }else{
        e.preventDefault();
        Swal.fire({
                    "title":"Error",
                    "text": "No se ha seleccionado ningun producto",
                    "icon": "error"

                })

              
    } 
        })
        
        
    
</script>

<script>
    $(document).ready(function() {
        
       
    table("tablaAltaVenta");
    
    });
  </script>

<script>
    // $("#comprobante").blur(function() {
    //     form.classList.add('was-validated');
    //         });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
{% endblock %}