{% extends 'Header/header.html' %}
{% load static %}

{% block title %}Ventas{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Ventas</h1>
    

    <!-- DataTales Example -->
    
    <div class="card shadow mb-4">
        
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
            <a href="{% url 'altaVenta' %}" class="btn btn-primary btn-sm"  ><i class="fas fa-plus pr-2"></i>Nueva Venta</a>
        </div>
            <!-- <div class="col-2 text-right ">
                
                <a href="" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf fa-1x"></i></a>
                <a href="" class="btn btn-success btn-sm"><i class="fas fa-file-excel fa-1x"></i></a>
                <a href="" class="btn btn-secondary btn-sm"><i class="fas fa-print fa-1x"></i></a>
            </div> -->
        
            </div>
            
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-sm" id="tablaVenta" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Comprobante</th>
                            <th>Fecha de venta</th>
                            <th>Cliente</th>
                            <th>total($)</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for c in ventas %}
                       
                       <tr>
                        <td>{{c.id_venta__comprobante}}</td>
                        <td>{{c.id_venta__fecha}}</td>
                        <td >{{c.id_venta__cuit__nombre}}</td>
                        <td>${{c.total__sum}}</td>
                        <td class="text-center"><a href="{% url 'detallesVenta' c.id_venta__id %}" class="btn btn-primary btn-sm " role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle"><i class="far fa-file-alt"></i></a></td>
                    </tr>
                       {% endfor %}
                      
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


<!-- Scroll to Top Button-->
<!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a> -->

{% endblock %}

{% block js %}


<script>
    $(document).ready(function() {
    table("tablaVenta");
    });
</script>


{% endblock %}
