{% extends 'cedal/index.html' %}

{% load static %}

{% block title %}Caja{% endblock %}

{% load crispy_forms_tags %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Caja</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <a href="#modalIngreso" data-toggle="modal" class="btn btn-primary btn-sm">Ingreso/Egreso</a>
                    <a href="{% url 'aperturaCaja' %}" type="button" id="apertura" class="btn btn-success btn-sm">Apertura de caja</a>
                    <a href="{% url 'cierreCaja' %}" type="button" id="cierre" class="btn btn-danger btn-sm">Cierre de caja</a>
                </div>
                <!-- <div class="col-6">
                <a href="#" class="btn btn-success float-right">Egreso</a>
            </div> -->
            </div>
            
        </div>
        
         <!-- Modal -->
<div class="modal fade" id="modalIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingreso de dinero</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
            
                  
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-3">
                              {{ form|crispy}}
                            
                            
        
                        
                    </div>
                        </div>
                    
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-sm" type="submit" >Añadir</button>
        </div>
      </div>
    </form>
    {{mensaje}}
    </div>
  </div>   
   </div>     

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" id="tablaCaja" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Descripcion</th>
                            <th>Ingreso($)</th>
                            <th>Egreso($)</th>
                            <th>Saldo Actual($)</th>
                           
                        </tr>
                    </thead>
                
                    <tbody>
                        
                       {% for c in caja %}
                       <tr>
                        <td>{{c.fecha}}</td>
                        <td>{{c.descripcion}}</td>
                        {% if c.operacion == 0 %}
                        <td>${{c.monto}}</td>
                        <td>$0.00</td>
                        {% else %}
                        <td>$0.00</td>
                        <td>${{c.monto}}</td>
                        {% endif %}
                        <td>${{c.saldo}}</td>
                        
                    </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{{mensaje}}

<!-- Scroll to Top Button-->
<!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a> -->

{% endblock %}

{% block js %}

<script>
  
    $( '#apertura').on( 'click', function(e) {
      e.preventDefault()
          Swal.fire({
              "title": "Estas seguro",
              "text": "De querer abrir la caja?",
              "icon":"question",
              "showCancelButton": true,
              "cancelButtonText":"No, Cancelar",
              "confirmButtonText":"Si, confirmar",
          })
          .then(function(result){
              if(result.isConfirmed){
            
                window.location.href = "aperturaCaja";
                
              }
            });
    });
  </script>

<script>
  
    $( '#cierre').on( 'click', function(e) {
      e.preventDefault()
          Swal.fire({
              "title": "Estas seguro",
              "text": "De querer cerrar la caja?",
              "icon":"question",
              "showCancelButton": true,
              "cancelButtonText":"No, Cancelar",
              "confirmButtonText":"Si, confirmar",
          })
          .then(function(result){
              if(result.isConfirmed){
            
                window.location.href = "cierreCaja";
                
              }
            });
    });
  </script>

<script>
    $(document).ready(function() {
    table("tablaCaja");
    });
</script>
{% endblock %}

