{% extends 'cedal/index.html' %}

{% load static %}

{% block title %}Caja{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .asteriskField {
    display: none;
}
</style>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Flujo de Caja</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <label for="movCaja"><b>Cuentas Adeudadas</b></label> 
                   <div class="input-group  input-group-sm">
                    <input type="text" name="movCaja" id="movCaja" class="form-control form-control-sm" placeholder="Ingresar la caja">
                   </div>
                                
                                <!-- {{ form.id_caja|as_crispy_field}} -->
                                
        
                            </div>
                            
                            
                                <div class="col-6 col-md-6" style="margin-top: 33px;">                                  
                        
                        <button class="btn btn-primary btn-sm" type="submit">Añadir</button>
                    </div> 
                        </div>
                        </div>
                    </form>
                    
                  
                    
                    
                </div>
                <!-- <div class="col-6">
                <a href="#" class="btn btn-success float-right">Egreso</a>
            </div> -->
            </div>
            
        </div>
        

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" id="tablaCaja" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Descripcion</th>
                            <th>Ingreso($)</th>
                            <th>Egreso($)</th>
                            <th>Saldo Actual($)</th>
                           
                        </tr>
                    </thead>
                
                    <tbody>
                        
                       {% for c in caja %}
                       <tr>
                        <td>{{c.fecha}}</td>
                        <td>{{c.descripcion}}</td>
                        {% if c.operacion == 0 %}
                        <td>${{c.monto}}</td>
                        <td>$0.00</td>
                        {% else %}
                        <td>$0.00</td>
                        <td>${{c.monto}}</td>
                        {% endif %}
                        <td>${{c.saldo}}</td>
                        
                    </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{{mensaje}}

<!-- Scroll to Top Button-->
<!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a> -->

{% endblock %}

{% block js %}

<script>
    
$(function() {

    
    $("#movCaja").autocomplete({
    
        source:  "{% url 'movimientoCaja' %}",
        
        select: function(event, ui){
            
            if (ui.item.n == 1){
               
    
               $("#movCaja").val('');
               event.preventDefault();
            }else{
                alert(ui.item.id)
                $("#movCaja").val(ui.item.value);
            //    $("#id_compra").val(ui.item.id);
            }
            
            
        
}

}).data('ui-autocomplete')._renderItem = function(ul, item) {
        
        
        return $("<li>").append(item.label).appendTo(ul);
        
        
    };

  
    
    });

</script>


<script>
    $(document).ready(function() {
    table("tablaCaja");
    });
</script>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
