{% extends 'Header/header.html' %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Productos</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'altaProducto' %}" class="btn btn-primary"><i class="fas fa-plus pr-2"></i>Nuevo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-sm table-bordered table-striped table-hover " id="tablaProducto" width="100%" cellspacing="0">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Precio Compra</th>
                            <th>Precio venta</th>
                            <th>Stock Actual</th>
                            <th>Stock minimo</th>
                            <th>Categoria</th>
                            <th>Marca</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                
                    <tbody>
                       {% for p in productos %}
                       <tr>
                        <td>{{p.codigo}}</td>
                        <td>{{p.nombre}}</td>
                        <td> ${{p.precio_compra}}</td>
                        <td>${{p.precio_venta}}</td>
                        
                        {% if p.stock < p.stock_min and p.stock > 0 %}
                        <td class="bg-warning text-white">{{p.stock}}</td>
                        {% elif p.stock == 0 %}
                       
                        <td class="bg-danger  text-white ">Sin stock</td>
                         
                        
                        {% else %}
                        <td>{{p.stock}}</td>
                        {% endif %}
                        <td>{{p.stock_min}}</td>
                        <td>{{p.categoria}}
                
                        </td>
                        <td>
                            {{p.marca}}
                            
                        </td>

                        <td class="row justify-content-center"><a class="btn-sm btn-success" href="{% url 'editarProducto' p.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="far fa-edit"></i></a>
                            <a class="btn-sm btn-danger ml-3" href="{% url 'eliminarProducto' p.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- /.container-fluid -->


<!-- Scroll to Top Button-->
<!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a> -->

{% endblock %}

{% block js %}

    



<script>
    $(document).ready(function() {
    table("tablaProducto");
    });
</script>
{% endblock %}

