{% extends 'Header/header.html' %}
{% load static %}

{% block title %}Productos en promocion{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Productos en promocion</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'altaProductoPromo' %}" class="btn btn-primary btn-sm"><i class="fas fa-plus pr-2"></i>Nueva Promocion</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-sm table-bordered table-striped table-hover " id="tablaProducto" width="100%" cellspacing="0">
                    <thead class="bg-dark text-white">
                        <tr>
                            
                            <th>Nombre</th>
                            <th>Descuento</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Finalizacion</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for p in productoPromo %}
                        <tr>
                         <td>{{p.id_producto}}</td>
                         
                         <td>
                            {{p.descuento}}
                         </td>
                         <td>{{p.fechaInicio}}</td>
                         <td>{{p.fechaFin}}</td>
                         <td>
                            <div class="row justify-content-center">
                            <a class="btn-sm btn-success" href="{% url 'editarPromocion' p.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="far fa-edit"></i></a>
                        
                        
                            <a class="btn-sm btn-danger ml-1" href="{% url 'eliminarPromocion' p.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                        </div>
                        </td>
                     </tr>
                        {% endfor %}
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



{% endblock %}

{% block js %}

    



<script>
    $(document).ready(function() {
    table("tablaProducto");
    });
</script>
{% endblock %}