{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Alta Compra{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 text-gray-800">Nueva Compra</h1>
    
    <div class="row mt-3">
        
    <div class="col-md-5">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Seleccion de Productos</div>
        <div class="card-body text-primary">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        Nombre
                        <input type="text" name="nombreProducto" id="nombreProducto" class="form-control">
                        <!-- {{form.nombre|as_crispy_field}} -->
                    </div>
                   
                    <div class="col-md-3 ">
                        Código
                        <input type="text" name="" id="codigo" class="form-control" disabled>
                        <!-- {{form.codigo|as_crispy_field}} -->
                      </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 ">
                        Precio Compra
                        <input type="text" name="" id="precio" class="form-control">
                        <!-- {{form.precio_compra|as_crispy_field}} -->
                    </div>

                    <div class="col-md-6 ">
                        Stock Actual
                        <input type="text" name="" id="stock" class="form-control" disabled>
                        <!-- {{form.stock|as_crispy_field}} -->
                      </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 ">
                        Cantidad
                      <input type="text" name="cantidad" id="cantidad" class="form-control">
                    
                    </div>

                </div>
               
                <div class="d-flex justify-content-end">
                <button onclick="cargarTabla();" class="btn btn-primary" type="button">Añadir</button>
                <!-- <a href="" class="btn btn-primary" type="button">Añadir</a> -->
                 <!-- <button  class="btn btn-primary" type="submit">Añadir</button>  -->
            </div>
            {{mensaje}}
            </form>
          
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card border-primary mb-3 ml-4" >
        <div class="card-header bg-primary text-white">Total de la compra</div>
        <div class="card-body text-primary">
            <div class="row">
                <div class="col-12 ">
                    <!-- Total -->
                    
                      
                    <input type="text" name="total" id="total" value="0.00" class="form-control bg-info text-center font-weight-bold text-white"> 
                      
                    
                
                </div>
            </div>
        
            <div class="row">
                <div class="col-6 col-md-6 ">
                    
                      
                        <input type="text" name="iva" id="iva" value="0.00" class="form-control bg-info font-weight-bold text-center text-white" > 
                      
                    
                  
                  
                  </div>
            

            
                <div class="col-6 col-md-6 ">
                    
                     
                      
                      
                 <input type="text" name="subTotal" id="subTotal" value="0.00" class="form-control bg-info font-weight-bold text-center text-white" > 
                   
                    </div>
            </div>
            <form id="friend-form" enctype="multipart/form-data">
                {% csrf_token %}
                
              
                <div class="row">
                    <div class="col-4 col-md-4 ">
                
                        {{ formCompra.fecha|as_crispy_field }}
                        <!-- <input type="data" name="fecha" id="fecha"  class="form-control  font-weight-bold text-center " > -->
                      </div>

                      <div class="col-4 col-md-4">
                       
                        {{ formCompra.comprobante|as_crispy_field }}
                        <!-- <input type="data" name="comprobante" id="comprobante"  class="form-control  font-weight-bold text-center " > -->
                      </div>

                      <div class="col-4 col-md-4 ">
                    
                      {{ formCompra.tipoComprobante|as_crispy_field }}
                      <!-- <input type="data" name="comprobante" id="comprobante"  class="form-control  font-weight-bold text-center " > -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-4 col-md-4 mt-2">
                        Razon Social
                        <input type="text" name="nombreProveedor" id="nombreProveedor" class="form-control">
                      
                      </div>
                       
                      <div class="col-4 col-md-4 ">
                        {{ formCompra.cuit|as_crispy_field }}
                      
                      </div>
                      
                      <div class="col-4 col-md-4 mt-2 ">
                        Condicion
                        <input type="text" name="condicion" id="condicion" class="form-control" disabled>
                      
                      </div>
                </div>
                <div class="row justify-content-end">
               
                <div class="col-md-4">
                    <button class="btn btn-primary" type="submit">Confirmar Compra</button>
                </div>
               </div> 
                
            </form>
          
        </div>
      </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12 pt-3">
            <div class="table-responsive" style="height: 160px;">
                <table class="table table-hover table-bordered table-sm table-striped text-white" id="tablaAltaCompra">
                    <thead class="bg-primary">
                        
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>cantidad</th>
                        <th>P.Unitario</th>
                        <th>Iva</th>
                        <th>sub total neto</th>
                        <th>sub total</th>
                        <th>Accion</th>
                    </thead>
                    <tbody style="overflow-y: scroll;">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
  </div>

{{mensaje}}
{% endblock %}



{% block js %}


<script>
    
$(function() {
    var p = 0;
    $("#nombreProducto").autocomplete({
        
        source:  "{% url 'productoAutocomplete' %}",
        
        select: function(event, ui){
            p = ui.item.n;
            if (ui.item.n == 1){
               
                window.location = "{% url 'altaProducto' %}";
                $("#nombreProducto").val('');
                event.preventDefault();
            }else{
                $("#stock").val(ui.item.stock); 
                $("#codigo").val(ui.item.codigo);
                $("#precio").val(ui.item.precio);
                $("#nombreProducto").val(ui.item.value); 
            
                idProducto = ui.item.id
            }
            
            
}
}).data('ui-autocomplete')._renderItem = function(ul, item) {
        
        
                return $("<li>").append(item.label).appendTo(ul);
                
                
            };
  
    
    });
  
 
</script>

<script>
    // var arr = [];
    // var objProducto = {}
    var i = 0;
    function cargarTabla(){
        
        
        cantidad = $('#cantidad').val();
        nombre = $('#nombreProducto').val();
        precio = $('#precio').val();
        codigo = $('#codigo').val();
        
        total = cantidad * precio;
        neto = total / 1.21;
        iva = neto.toFixed(2) * 0.21;
        
        i += 1;

        fila = '<tr id=fila' + i +' class="text-dark"><td data-producto =' + idProducto +' style="text-align: right;">' + codigo + '</td><td>' + nombre + 
                '<td>' + cantidad +'</td>'+
                '</td><td style="text-align: right;">' + precio + '</td>'+
                '<td>' + iva.toFixed(2) + '</td><td>' + neto.toFixed(2) + '</td>'+'<td>' + total + '</td>'+
                '<td><div><button  class="btn btn-danger btn-sm" style="padding:1px;" type="button"  id="btn_del'+i+'" onclick="eliminarFC('+i+', '+total+', '+neto+', '+iva+', )">Eliminar</button></div></td>'+
                '</tr>';
             
                $('#tablaAltaCompra').append(fila);
                
    //             objProducto = {
    //                'id_producto': idProducto,
    //                'cantidad': cantidad
    //    }; 

    //            arr.push(objProducto);
                suma(neto, iva, total);       

        }

//  var objProducto = {}

         function cargarDetalleCompra(){
           
//             let filaTablaAC = $('#tablaAltaCompra tr').length;
               
//                for (f = 1; f <= filaTablaAC; f++) {

//                 var cantidadTabla = document.getElementById('tablaAltaCompra').rows[f].cells[2].innerText;            
//                 var idp = $('#tablaAltaCompra tr:eq('+f+')').find("td:first-child").data('producto');   
                
                
              
//                 objProducto = {
//                     'id_producto': idp,
//                     'cantidad': cantidadTabla
//                 };
               
            
                //var obj = JSON.stringify(objProducto);
               
                var tipoComprobante = $('#tipoComprobante option:selected').text();
                var comprobante = $('#comprobante').val();
                var fecha = $('#fecha').val();
                var cuit = $('#cuit').val();
                var iva = $('#iva').val();
                var total = $('#total').val();
                var subTotal = $('#subTotal').val();
                
                $.ajax({
                  type: "post",
                   url: "{% url 'cargarCompra' %}",
                  data: {tipoComprobante: '' + tipoComprobante + '',
                         comprobante: '' + comprobante + '',
                         iva: iva,
                         fecha:  '' + fecha + '',
                         cuit: '' + cuit + '',
                         total: total,
                         subTotal: subTotal
                          },
                success: function(result) {
                          alert('Data Has been saved')
     }
      
              
    
   });
              
//}         
      
   }
</script>

<script>
    
</script>
<!-- Page level custom scripts -->
<script>
    var totalNeto = 0;
        var totaliva = 0;
        var totalFinal = 0;
</script>
<script>
    function eliminarFC(id, total, neto, iva){
    
        //arr.pop();

        totalNeto = totalNeto - neto;
        totaliva = totaliva - iva;
        totalFinal = totalFinal - total;
        
     
       
        document.getElementById("total").value = totalFinal.toFixed(2);
        document.getElementById("iva").value = totaliva.toFixed(2);
        document.getElementById("subTotal").value = totalNeto.toFixed(2);

        $('#fila' + id).remove();
        
    }
</script>

<script>
    function suma(neto, iva, total){
        
        
        
        totalNeto = totalNeto + neto;
        totaliva = totaliva + iva;
        totalFinal = total + totalFinal;
        
     
       
        document.getElementById("total").value = totalFinal.toFixed(2);
        document.getElementById("iva").value = totaliva.toFixed(2);
        document.getElementById("subTotal").value = totalNeto.toFixed(2);
    }
</script>

<script>

$(function() {
    let condicion;

    $("#nombreProveedor").autocomplete({
        source:  "{% url 'proveedorAutocomplete' %}",
        select: function(event, ui){
            if (ui.item.n == 1){
               
               window.location = "{% url 'altaProveedor' %}";
               $("#nombreProveedor").val('');
               event.preventDefault();
            }else{
                $("#cuit").val(ui.item.cuit);

                if (ui.item.condicion == 0){
                    condicion = "Consumidor Final";
                }else{
                    condicion = "Responsable Inscripto";
                }
                    $("#condicion").val(condicion); 
            }
            
            
        
}
}).data('ui-autocomplete')._renderItem = function(ul, item) {
        
        
        return $("<li>").append(item.label).appendTo(ul);
        
        
    };

  
    
    });

</script>

<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#friend-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // carga la compra realizada
        $.ajax({
            type: 'POST',
            url: "{% url 'prueba' %}",
            data: serializedData,
            success: function (response) {
                 //carga forma de pago
    // let efectivo= $('#efectivo').val();
    // let credito= $('#credito').val();
    // let debito= $('#debito').val();
    // let cuotas= $('#cuotas').val();
    // let tipoCredito= $('#tipoCredito').val();
    // let tipoDebito= $('#tipoDebito').val();

    // $.ajax({
    //         type: 'get',
    //         url: "{% url 'cargarFormaPago' %}",
    //         data: {'efectivo': efectivo,
    //                'credito': credito,
    //                'debito': debito,
    //                'cuotas': cuotas,
    //                'tipoCredito': tipoCredito,
    //                'tipoDebito': tipoDebito,
    //     }
    //     })

                let filaTablaAC = $('#tablaAltaCompra tr').length;
               
               for (f = 1; f <= filaTablaAC; f++) {

                var cantidadTabla = document.getElementById('tablaAltaCompra').rows[f].cells[2].innerText;            
                var idp = $('#tablaAltaCompra tr:eq('+f+')').find("td:first-child").data('producto');   
                //var total = document.getElementById('tablaAltaCompra').rows[f].cells[6].innerText; 
                
            // carga detalle de la compra
                $.ajax({
            type: 'get',
            url: "{% url 'cargarDetalleCompra' %}",
            data: {'id_producto': idp,
                   'cantidad': cantidadTabla
        },
            success: function (response) {
                window.location = "{% url 'compras' %}";
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    }
    
   
          
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>

<script>
    var totalPago;
    var totalParcial;
    
    totalPago = $('#total').val();

    //alert(totalPago);
    $( '#btnEfectivo').on( 'click', function() {
        totalPago =  $('#total').val();
    document.getElementById('efectivo').value = totalPago; 
    totalPago =  $('#total').val() - $('#efectivo').val();
})

$( '#btnCredito').on( 'click', function() {
    document.getElementById('credito').value = totalPago; 

    totalPago =  $('#total').val() - $('#credito').val();
})
    
     $( '#chEfectivo').on( 'click', function() {
         
        //var mydiv = document.getElementById('divEfectivo');
        if( $(this).is(':checked') ) {
            //mydiv.className = 'row mt-3 d-block'
            document.getElementById('efectivo').readOnly = false;
            document.getElementById('efectivo').value = $('#total').val();
           
}else{
    document.getElementById('efectivo').readOnly = true;
}
})


   
     $( '#chCredito').on( 'click', function() {
        // var mydiv = document.getElementById('divCredito');
        // var divCuotas = document.getElementById('divCuotas');
        if( $(this).is(':checked') ) {
            // mydiv.className = 'row mt-3 d-block'
            // divCuotas.className = 'row mt-3 d-block'
            document.getElementById('credito').readOnly = false;
            document.getElementById('cuotas').readOnly = false;
           // document.getElementById('tipoCredito').readOnly = false;
}else{
    // mydiv.className = 'row mt-3 d-none'
    // divCuotas.className = 'row mt-3 d-none'
    document.getElementById('credito').readOnly = true;
            document.getElementById('cuotas').readOnly = true;
           // document.getElementById('tipoCredito').readOnly = true;
}
     })

    
     $( '#chDebito').on( 'click', function() {
       // var mydiv = document.getElementById('divDebito');
        if( $(this).is(':checked') ) {
            
           // mydiv.className = 'row mt-3 d-block'
           document.getElementById('debito').readOnly = false;
           //document.getElementById('tipoDebito').readOnly = false;
}else{
    //mydiv.className = 'row mt-3 d-none'
    document.getElementById('debito').readOnly = true;
    //document.getElementById('tipoDebito').readOnly = true;
}
     }) 


</script>
{% if messages %}
        {% for m in messages %}
<script>
  
  Swal.fire({
    "title":"Felicitaciones",
      "text": "{{m}}",
        "icon": "success"

  })
</script>
     {% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
{% endblock %}