{% extends 'Header/header.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Compras{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Compras</h1>
    

    <!-- DataTales Example -->
    
    <div class="card shadow mb-4">
        
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
            <a href="{% url 'altaCompra' %}" class="btn btn-primary"  ><i class="fas fa-plus pr-2"></i>Nueva Compra</a>
        </div>
            <div class="col-2 text-right ">
                <!-- <a href="{% url 'reporteCompras' %}" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf fa-1x"></i></a> -->
                <!-- <a href="{% url 'reporteCompras' %}" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf fa-1x"></i></a>
                
                <a href="" class="btn btn-secondary btn-sm"><i class="fas fa-print fa-1x"></i></a> -->
            </div>
        
            </div>
            
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover display" id="tablaCompra" width="100%" >
                    <thead>
                        <tr>
                            <th>Comprobante</th>
                            <th>Fecha de compra</th>
                            <th>Proveedor</th>
                            <th>total($)</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for c in compras %}
                       
                       <tr>
                        <td>{{c.id_compra__comprobante}}</td>
                        <td>{{c.id_compra__fecha}}</td>
                        <td >{{c.id_compra__cuit__nombre}}</td>
                        <td>${{c.total__sum}}</td>
                        <td class="text-center"><a href="{% url 'detallesCompra' c.id_compra__id %}" class="btn btn-primary btn-sm " role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle"><i class="far fa-file-alt"></i></a>
                            <!-- <a class="btn-sm btn-danger ml-2" href="{% url 'eliminarCompra' c.id_compra__id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="far fa-trash-alt"></i></a></td> -->
                        </td>
                    </tr>
                       {% endfor %}
                      
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


<!-- Scroll to Top Button-->
<!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a> -->

{% endblock %}

{% block js %}

<script>
    $(document).ready(function() {
    table("tablaCompra");


    });
</script>


{% endblock %}

