{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Detalle de la Compra{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Detalle de la Compra</h1>
    

    <!-- DataTales Example -->
    <div class="card border-primary shadow mb-4">
        <div class="card-header bg-primary py-3 text-white">
            Compra Realizada
        </div>
        <div class="card body">
            
            {% for c in datos %}
            
            <div class="row ml-2 "> <label for="" class="" > Comprobante: <b>{{c.comprobante}}</b></label></div>
            <div class="row ml-2 "><label for="" class=" ">Tipo de comprobante: <b>{{c.tipoComprobante}}</b></label></div>
            <div class="row ml-2 "><label for="" class=" ">Proveedor: <b>{{c.cuit.nombre}}</b></label></div>
            <div class="row ml-2 "><label for="" class=""> CUIT: <b>{{c.cuit.cuit}}</b></label></div>
            <div class="row ml-2 "><label for="" class=""> Fecha: <b>{{c.fecha}}</b></label></div>
            
            {% endfor %}
        </div>
        <br>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-sm" id="tablaDetalleCompra" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Codigo</th>
                            <th>Precio Unitario($)</th>
                            <th>Precio Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in detalles %}
                       <tr>
                        <td>{{d.cantidad}}</td>
                        <td>{{d.id_producto.nombre}}</td>
                        <td >{{d.id_producto.codigo}}</td>
                        <td>{{d.id_producto.precio_compra}}</td>
                        <td>{{d.total}}</td>
                    </tr>
                    
                    {% endfor %}
                
                    </tbody>
                    
                </table>
                <div class="mt-2">
                  <small> sub-Total: <b>${{subTotal.subTotal__sum}}</b></small>
                 
               </div>
               <div class="">
                  <small> iva 21.00%: <b>${{iva.iva__sum}}</b></small>
               </div>
               <div class="">
                   <label id="total" for="total"><small> Total: <b>${{total.total__sum}}</b></small></label>
                </div>
            </div>
          
            
             <div class="d-flex justify-content-end mt-2">
               
                <button class="btn btn-sm btn-danger ml-2" onclick="eliminarCompra({{id}})"  data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">Eliminar Compra</button>
                <button class="btn btn-primary btn-sm ml-2 " aria-hidden="true" type="button" onclick="history.back()">Salir</button>
             </div>
        </div>
    </div>

</div>

    {{mensaje}}
  



{% endblock %}

{% block js %}


<script>
    $(document).ready(function() {
    table("tablaDetalleCompra");
    });
</script>


<script>
    function eliminarCompra(id){
        
    Swal.fire({
            "title": "Estas seguro?",
            "text": "Esta acción no se puede deshacer ",
            "icon":"question",
            "showCancelButton": true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, confirmar",
            "confirmButtonColor":"#80070F",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/compras/eliminarCompra/"+id+""
            }
        });
    }
</script>

{% endblock %}

