{% extends 'Header/header.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Forma de Pago{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Formas de pago</h1>
    

    <!-- DataTales Example -->
    
    <div class="card shadow mb-4">
        
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
            <a href="{% url 'registroPago' %}" class="btn btn-primary"  ><i class="fas fa-plus pr-2"></i>Registrar Pago</a>
        </div>
            <div class="col-2 text-right ">
                <!-- <a href="{% url 'reporteCompras' %}" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf fa-1x"></i></a> -->
                <!-- <a href="{% url 'reporteCompras' %}" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf fa-1x"></i></a>
                
                <a href="" class="btn btn-secondary btn-sm"><i class="fas fa-print fa-1x"></i></a> -->
            </div>
        
            </div>
            
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover display" id="tablaPago" width="100%" >
                    <thead>
                        <tr>
                            <th>Comprobante</th>
                            <th>Fecha de compra</th>
                            <th>Proveedor</th>
                            <th>Deuda</th>
                            <th>Saldo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for c in compras %}
                       
                       <tr>
                        <td>{{c.comprobante}}</td>
                        <td>{{c.fecha}}</td>
                        <td >{{c.nombre}}</td>
                        <td>${{c.total}}</td>
                        <td>${{c.saldo}}</td>
                        {% if c.estado == 'Adeudado' %}
                        <td><span class="badge badge-danger">{{c.estado}}</span></td>
                        {% else %}
                        <td><span class="badge badge-success">{{c.estado}}</span></td>
                        {% endif %}
                        <td class="text-center"><button class="btn btn-primary btn-sm " onclick="prueba({{c.id}});" aria-hidden="true"  data-toggle="modal" data-target="#modalDetallePago" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle"><i class="far fa-file-alt"></i></button>
        
                        <a class="btn btn-sm btn-danger ml-3" href="{% url 'eliminarPago' c.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                       {% endfor %}
                      
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="modalDetallePago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle Pago</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover display" id="tablaDetallePago" width="100%" >
                    <thead>
                        <tr>
                            <th>Fecha </th>
                            <th>Comprobante</th>
                            <th>Monto</th>
                            <th>Detalle</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                       <!-- {% for c in compras %}
                       
                       <tr>
                        <td>{{c.comprobante}}</td>
                        <td>{{c.fecha}}</td>
                        <td >{{c.nombre}}</td>
                        <td>${{c.total}}</td>
                        <td>${{c.saldo}}</td>
                    </tr>
                       {% endfor %} -->
                      
                    </tbody>
                </table>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>


{% endblock %}

{% block js %}

<script>

    function prueba(id){
        
            $.ajax({
                  type: "post",
                   url: "{% url 'detalleFormaPago' %}",
                  data: {id: id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                          },    
                dataType: 'json',
                  
           
    
                
                     success: function(response){
                        alert(response);
//                         $('#tablaDetallePago tbody').html('');
                       
                        
                        
                
                    
//                          $.each(response, function() {
//   $.each(this, function(name, value) {
//                         let fila = '<tr>';
//                         fila += '<td>' + value.fecha + '</td>';
//                         fila += '<td>' + value.descripcion + '</td>';
//                         if(value.operacion == 0){
//                             fila += '<td>' + value.monto + '</td>';
//                             fila += '<td>' + '$0,00' + '</td>';
//                         }else{
//                             fila += '<td>' + '$0,00' + '</td>';
//                             fila += '<td>' + value.monto + '</td>';

//                         }
                        
                       
//                         fila += '<td>' + value.saldo + '</td>';
//                         fila += '</tr>';
//                         $('#tablaDetallePago tbody').append(fila);
// });
//      });
             }

                    });
    }

</script>

<script>
    $(document).ready(function() {
    table("tablaPago");
    


    });
</script>

<script>
    $('#tablaDetallePago').DataTable({
        "searching": false,
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false,
      
      "language": {
       
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
      },
      responsive: "true",
      
    });

</script>

{% endblock %}
