{% extends 'cedal/index.html' %}
{% load static %}


{% block title %}Prueba{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Nuevo Producto</h1>
    <div class="card shadow mb-4"></div>
        <div class="card-body">
          
            <form action="" method="post" id="demo" enctype="multipart/form-data">
                {% csrf_token %} 
                
                       

                <div class="d-flex">
              
            lista:<p> {{form.make}}</p>
               <br>
               
            </form>
            <br>
              
           
            <button class="btn btn-primary" type="button" onclick="prueba();" >Añadir</button>    
    
</div>

{% endblock %}

{% block js %}

<script>
//var data = {};
//var detalle = {};
function prueba(){
   

    var detalle = {
    id_compra: 11,
    id_producto: 4,
    cantidad: 5
                };

              var detallebut = {
    id_compra: 10,
    id_producto: 4,
    cantidad: 7
                };
    
    data = {
        'data': [detalle, detallebut]
    }
    

    
    //console.log(arr);
    $.ajax({
       type: "get",
       url: "{% url 'prueba' %}",
       data: data,

    });

}

</script>

{% endblock %}