{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Registrar Pago{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 text-gray-800">Registrar Pago</h1>
    <div class="card border-primary shadow mb-4">
        
        <div class="card body">
            <div class="row">
                <div class="col-md-5">
                   <label for="provDeuda">Cuentas Adeudadas</label> 
                    <input type="text" name="provDeuda" id="provDeuda" class="form-control form-control-sm">
                
                </div>
            </div>

            <div>
                Elige las siguientes opciones:<br>
            <div class="form-check form-check-inline justify-content-center">
                <input class="form-check-input>" type="checkbox" id="chEfectivo" value="1">
                <label class="form-check-label" for="chEfectivo">Efectivo</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="chCredito" value="2">
                <label class="form-check-label" for="chCredito">Crédito</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="chDebito" value="3">
                <label class="form-check-label" for="chDebito">Débito</label>
              </div>
            </div>
            <p>Total a pagar $<label id="lebTotal"></label></p>
          
                  
                    <form id="form-pago" action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mt-3 d-none" id="divEfectivo" >
                            <div class="col-4 col-md-4 " >
                               
                                {{ formPago.total|as_crispy_field }}
                                
                              </div>

                              
                        </div>

                              <div class="row mt-3">
                              
        
                              <div class="col-4 d-none" id="divTipoCredito" >
                            
                              {{ formPago.tipoCredito|as_crispy_field }}
                             
                            </div>

                            <div class="col-4 d-none" id="divCuotas">
                      
                              {{ formPago.cuotas|as_crispy_field }}
                              
                            </div>
                        </div>

                      

                        <div class="row mt-3" >
                            
      
                            <div class="col-4 d-none" id="divTipoDebito" >
                          
                            {{ formPago.tipoDebito|as_crispy_field }}
                           
                          </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" id="btn-pago" type="submit">confirmar</button>
                    </div>
                  
              </form>
            
        </div>
    </div>
</div>




{% endblock %}



{% block js %}
<script>
$(function() {
    let condicion;

    $("#provDeuda").autocomplete({
        
        source:  "{% url 'compraAdeudada' %}",
        select: function(event, ui){
            if (ui.item.n == 1){
               
    
               $("#provDeuda").val('');
               event.preventDefault();
            }
            
            
        
}
}).data('ui-autocomplete')._renderItem = function(ul, item) {
        
        
        return $("<li>").append(item.label).appendTo(ul);
        
        
    };

  
    
    });

</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}