{% extends 'Header/header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Configuración{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Configuración</h1>
    <div class="card shadow mb-4"></div>
        <div class="card-body">
          
            <!-- <div  class="col-12 col-md-6 offset-md-3 border border-primary " role="button" onclick="prueba();">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ex quam similique reiciendis facilis praesentium quos aspernatur et, natus qui eveniet quas vel maiores. Ipsum illum id libero rerum quo.
            </div > -->
            <div class="row justify-content-md-center">
                <div class="card text-white bg-info mb-3 col-md-3 "  >
                
                    <div class="card-body text-center">
                      <h5 class="card-title">Registro usuarios</h5>
                      <a class="text-white" href="{% url 'registro' %}" role="button"><i class="fas fa-users-cog fa-8x"></i></a>
                      
                    </div>
                  </div>
    
                  <div class="card  bg-warning mb-3 col-md-3 ml-3"  >
                    
                    <div class="card-body  text-center">
                      <h5 class="card-title text-white">Registro empresa</h5>
                      <a class="text-white" href="#" role="button"><i class="fas fa-cog fa-8x "></i></a>
                      
                    </div>
                    <!-- <div class="card-footer bg-white"><a href=""> ver mas</a></div> -->
                  </div>

                  <div class="card bg-success mb-3 col-md-3 ml-3 "  >
                    
                    <div class="card-body  text-center">
                      <h5 class="card-title text-white">Medios de Pago</h5>
                      <a href="#" class="text-white" role="button"><i class="far fa-credit-card fa-8x"></i></a>
                      
                    </div>
                    <!-- <div class="card-footer bg-white"><a href=""> ver mas</a></div> -->
                  </div>
            </div>
            
            <div class="row justify-content-md-center">
                <div class="card bg-primary mb-3 col-md-3 ml-3 "  >
                    
                    <div class="card-body  text-center">
                      <h5 class="card-title text-white">Generar backup</h5>
                      <a href="#" class="text-white" role="button"><i class="fas fa-database fa-8x"></i></a>
                      
                    </div>
                    <!-- <div class="card-footer bg-white"><a href=""> ver mas</a></div> -->
                  </div>

                  <div class="card bg-secondary mb-3 col-md-3 ml-3 "  >
                    
                    <div class="card-body  text-center">
                      <h5 class="card-title text-white">Comprobantes</h5>
                      <a href="#" class="text-white" role="button"><i class="fas fa-file-invoice fa-8x"></i></a>
                      
                    </div>
                    <!-- <div class="card-footer bg-white"><a href=""> ver mas</a></div> -->
                  </div>
            </div>
            
        </div>
    </div>
</div>
{{mensaje}}
{% endblock %}

{% block js %}
<script>
    function prueba(){
        console.log("hola");
    }
</script>
{% endblock %}