{% extends 'Header/header.html' %}
{% load static %}

{% block title %}Proveedores{% endblock %}

{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Proveedores</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'altaProveedor' %}" class="btn btn-primary btn-sm" ><i class="fas fa-plus pr-2"></i>Nuevo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table-sm table-bordered table-striped table-hover" id="tablaProveedores" width="100%" cellspacing="0">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Razon Social</th>
                            <th>Direccion</th>
                            <th>E-mail</th>
                            <th>CUIT</th>
                            <th>Cond. Tributaria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
    
                    <tbody>
                       {% for p in proveedores %}
                       <tr>
                        <td>{{p.nombre}}</td>
                        <td>{{p.direccion}}</td>
                        <td>{{p.mail}}</td>
                        <td>{{p.cuit}}</td>
                        <td>
                            {% if p.condicion == 0 %}
                            Consumidor Final
                            {% else %}
                            Responsable Inscripto
                            {% endif %}
                        </td>
                        <td>
                            <div class="row justify-content-center">
                            <a class="btn-sm btn-success" href="{% url 'editarProveedor' p.cuit %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="far fa-edit"></i></a>
                        <a class="btn-sm btn-danger ml-3" onclick='eliminarProveedor("{{p.cuit}}")' href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                            </div>
                    </td>
                    </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}


<script>
    $(document).ready(function() {
    table("tablaProveedores");
    });
</script>

<script>
    function eliminarProveedor(id){
 
    Swal.fire({
            "title": "Estas seguro?",
            "text": "Esta acción no se puede deshacer ",
            "icon":"question",
            "showCancelButton": true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, confirmar",
            "confirmButtonColor":"#80070F",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/proveedores/eliminarProveedor/"+id+""
            }
        });
    }
</script>
{% endblock %}

