<!DOCTYPE html>
<html lang="en">
   
{% load static %}



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Sistema de Gestion {% endblock %}</title>

    <!-- Custom fonts for this template-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    
    <!-- Rango de fechas css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
   
    <link href="{% static 'cedal/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'cedal/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css">



<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                    <img src="{% static 'cedal/img/cedal.png' %}" class="img-fluid" width="70px" height="70px">
                </div>
                <!-- <div class="sidebar-brand-text mx-3">Cedal</div> -->
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Pagina Principal</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
               MODULOS
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCaja" aria-expanded="true" aria-controls="collapseCaja">
                    <i class="fas fa-fw fa-money-bill"></i>
                    <span>Caja</span>
                </a>
                <div id="collapseCaja" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'caja' %}">Caja</a>
                        
                        
                        <a class="collapse-item" href="{% url 'consultaCaja' %}" >Movimientos de Caja</a> 
                        
                        
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompra" aria-expanded="true" aria-controls="collapseCompra">
                    <i class="fas fa-cart-arrow-down"></i>
                    <span>Compras</span>
                </a>

                <div id="collapseCompra" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'compras' %}">Compras</a>
                        
                        
                        <a class="collapse-item" href="{% url 'pago' %}" >Forma de pago</a> 
                        
                        
                    </div>
                </div>
                <!-- <a class="nav-link" href="{% url 'compras' %}" >
                    <i class="fas fa-cart-arrow-down"></i>
                    <span>Compras</span>
                </a> -->
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
    
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVenta" aria-expanded="true" aria-controls="collapseVenta">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Ventas</span>
                </a>

                <div id="collapseVenta" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'ventas' %}">Ventas</a>
                        
                        
                        <a class="collapse-item" href="{% url 'pagoVenta' %}" >Forma de pago</a> 
                        
                        
                    </div>
                </div>
                
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'proveedores' %}" >
                    <i class="fas fa-fw fa-male"></i>
                    <span>Proveedores</span>
                </a>
                <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
                <a class="nav-link" href="{% url 'clientes' %}" >
                    <i class="fas fa-fw fa-male"></i>
                    <span>Clientes</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Productos</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'productos' %}">Productos</a>
                        <a class="collapse-item" href="{% url 'marcas' %}">Marcas</a>
                        <a class="collapse-item" href="{% url 'categorias' %}">Categorias</a>
                        <a class="collapse-item" href="{% url 'productosPromo' %}">Promocion</a>
                    </div>
                </div>
                
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
                <!-- <a class="nav-link" href="{% url 'produccion' %}" > -->
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStock" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-clipboard"></i>
                    <span>Stock</span>
                </a>

                <div id="collapseStock" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'movimientoStock' %}">Movimientos de stock</a>
                        
                        
                        <a class="collapse-item" href="{% url 'altaAjuste' %}" >Ajuste de stock</a> 
                        
                        
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
                <!-- <a class="nav-link" href="{% url 'produccion' %}" > -->
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduccion" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-pallet"></i>
                    <span>Retiro de Mercadería</span>
                </a>

                <div id="collapseProduccion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'produccion' %}">Pedido Producción</a>
                        <a class="collapse-item" href="{% url 'pedidoVentaPorMenor' %}" >Pedido Venta Por Menor</a>
                        
                        
                        <!-- <a class="collapse-item" href="{% url 'pedido' %}" >Pedido Mercaderia<span id="badgePedidos" class="badge badge-info badge-pill ml-2 d-none"></span></a>  -->
                        
                        
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReporte" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>Reportes</span>
                </a>

                <div id="collapseReporte" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-secondary text-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'reportesCompras' %}">Compras</a>
                        
                        
                        <a class="collapse-item" href="{% url 'reportesVentas' %}" >Ventas</a>
                        <a class="collapse-item" href="{% url 'reportesCuentasPagar' %}">Cuentas por pagar</a>
                        
                        
                        <a class="collapse-item" href="{% url 'reportesCuentasCobrar' %}" >Cuentas por cobrar</a>  
                        
                        
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div> -->
                <a class="nav-link" href="{% url 'configuracion' %}" >
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Configuración</span>
                    
                </a>
            </li>
            <!-- Divider
            <hr class="sidebar-divider"> -->


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
<!-- Content Wrapper -->
        
<div id="content-wrapper" class="d-flex flex-column">
            
            
    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <!-- <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form> -->

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <!-- <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a> -->
                    <!-- Dropdown - Messages -->
                    <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li> -->
                
                    <!-- ITEM NOTIFICACIONES -->
                  <!-- <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="notDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                      <i class="fas fa-bell"></i>
                      <span class="badge bg-primary badge-number">4</span>
                    </a>
          
                    <ul class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="notDropdown">
                      <li class="dropdown-header">
                        Tienes notificaciones
                    
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li class="dropdown-item1">
                        <i class="fas fa-xmark-circle text-danger"></i>
                        <div>
                          <h4>Lorem Ipsum</h4>
                          
                        </div>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li class="dropdown-item1">
                        <i class="fas fa-exclamation-circle text-warning"></i>
                        <div>
                          <h4>Vencimiento</h4>
                          
                        </div>
                      </li>
                    </ul>
                    </li> -->
            

                

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                {% if user.is_authenticated %}
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                        <img class="img-profile rounded-circle"
                            src="{{request.user.get_imagen}}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'editarPerfilUsuario' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Perfil
                        </a>
                        <a class="dropdown-item" href="{% url 'cambiarPassword' %}">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Cambiar contraseña
                        </a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
                {% else %} 
                 
                <a clas="bg-primary" href="{% url 'login' %}" role="button">Iniciar Sesión</a>
                {% endif %}
            </ul>

        </nav>
        <!-- End of Topbar -->
        {% block content %}

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>

                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    
    <!-- End of Content Wrapper -->
    {% endblock %}
</div>
<!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Desea cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Bootstrap core JavaScript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="{% static 'cedal/vendor/jquery/jquery.min.js' %}"></script>
   

    <script src="{% static 'cedal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'cedal/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'cedal/js/sb-admin-2.js' %}"></script>

    <!-- Page level plugins -->
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<!-- <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script> -->


<script src="https://cdn.datatables.net/1.12.1/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>





<!-- DataTables JS library -->
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<!-- DataTables JBootstrap -->

<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="{% static 'cedal/datatables/Buttons-2.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'cedal/datatables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'cedal/datatables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'cedal/datatables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'cedal/datatables/Buttons-2.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'cedal/datatables/Buttons-2.2.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'cedal/js/main.js' %}"></script>

    <!--Rango de fechas js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    {% if user.groups.all.0.name == 'Productor' %}
    <script>
    
    cantidadPed();
    
    </script>
{% endif %}
    


<!-- {% if user.groups.all.0.name == 'Administrador' %}
    <script>
        
       $.ajax({
    type: "get",
    dataType: 'json',
     url:  "{% url 'prodVencimiento' %}",
  success: function(response) {
    
      var cantidad = response.data;
        if (cantidad > 0) {
        document.getElementById('divVencimiento').innerText = cantidad
    }else{
        document.getElementById('divVencimiento').innerText = 0
    }
  
  }
  });

    </script>
{% endif %} -->

    {% if messages %}
        {% for m in messages %}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>
                Swal.fire({
                    "text": "{{m}}",
                    "icon": "success"

                })
            </script>
            {% endif %}

            {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>
                Swal.fire({
                    "title":"Error",
                    "text": "{{m}}",
                    "icon": "error"

                })
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    {% block js %}
    
    {% endblock %}
</body>

</html>